mkdocs==1.3.0
mkdocs-material==8.2.9
mkdocstrings==0.18.1
mkdocstrings-python==0.6.6
mkdocs-gen-files==0.3.4
mkdocs-section-index==0.3.4
mkdocs-literate-nav==0.4.1
mkdocs-jupyter==0.20.1
mike==1.1.2
jax
jaxlib
pandas
dill
tqdm
flake8
mypy
black